.board-of-directors {
    background-color: #2b6ca3;
    text-align: center;
    padding: 0;
    display: block;
    
}
.board-of-directors h1 {
    color: white;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6), 4px 4px 4px rgba(0,0,0,0.3);
}
.board-of-directors > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
}
.board-of-directors .bod-header {
    position: relative;
    margin: 0 auto 2rem auto;
    text-align: center;
}
.board-of-directors .bod-header > h1 {
    margin: 20vh auto 0 auto;
    display: block;
    font-size: xx-large;
    width: 100%;
    z-index: 1;
    
}
.board-of-directors .bod-header > p {
    color: white;
    font-size: large;
    display: block;
    width: 70vw;
    margin: 0 auto;
    z-index: 1;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6), 4px 4px 8px rgba(0,0,0,0.3);
}
.board-of-directors .bod-obj {
    background-color: #2BA39E;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6), 2px 2px 4px rgba(0,0,0,0.3),
    inset 1px 1px 1px rgba(255,255,255,0.6), inset 2px 2px 4px rgba(255,255,255, 0.3);
    border-radius: 0 4px 4px 4px ;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    width: 40vw;
    height: min-content;
}
.board-of-directors .bod-obj > div {
    display: block;
    color: white;
}
.board-of-directors .bod-obj > div:first-of-type {
    display: flex;
    position: relative;
    z-index: 1;
    width: fit-content;
}
.board-of-directors .bod-obj img {
    border-radius: 100%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6), 2px 2px 4px rgba(0,0,0,0.3);
    height: 100px;
}
.board-of-directors .bod-obj h2 {
    font-size: xx-large;
    padding: 0 2rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6)
}
.board-of-directors .bod-obj h4 {
    font-size: large;
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6)
}
.board-of-directors .bod-obj p {
    font-size: large;
    margin: .5rem 0 1rem 0;
    text-align: left;
}
.board-of-directors .bod-obj > div:last-of-type {
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s 0.25s;
}
.board-of-directors .bod-obj:hover > div:last-of-type {
  max-height: 1000px;
}