footer {
    text-align: center;
    min-height: 68px;
    background-color: #255e93;
    padding: 2rem 0 0 0;
    width: 100vw;
    overflow: scroll;
}
footer > a {
    margin: auto 1rem auto 0;
    text-decoration: unset;
    color: black;
    display: inline;

}